
.work{
  
    width: 350px!important;
  

    i{
        font-size: 3em;
    }
    .work_heading{
        font-size: 1.2em;
        font-weight: 500;
    }

    .work_description{
        font-weight: 300;
    }
}