@import '../variable';
@import './sub_scss/Testimonial.scss';
@import './sub_scss/Work.scss';

.about{
    display: flex;
    align-items: center;
    padding: 30px;
    color: $white;

    h1{
       
      
        
    }
    .about_info{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        }
    
}

.blueFont{
    color: $lighblue;

    
}

.back_shadow{


    &::after{
        position: absolute;
opacity: .45;
// top: 80px;
// right: 70%;
// right: 0;
// right: 20px;
content: '';
height: 30px;
width: 50px;
background-image: -webkit-repeating-radial-gradient(center center,#04b4e0,#04b4e0 1px,transparent 0px,transparent 100%);
background-image: -moz-repeating-radial-gradient(center center,#04b4e0,#04b4e0 1px,transparent 0px,transparent 100%);
background-image: -ms-repeating-radial-gradient(center center,#04b4e0,#04b4e0 1px,transparent 0px,transparent 100%);
-webkit-background-size: 6px 6px;
-moz-background-size: 6px 6px;
background-size: 6px 6px;
z-index: 0;
    }

}

.work_wrapper{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  
    // flex-wrap: wrap;
    // padding: 10px;
    overflow-y: auto;
}



.what_i_do{
   
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;

    
}

.testimonial_wraper{
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
