$gray: #444444;
$white: #ffffff;
$redWhite: #54AEE0;
$lightgray: #d4cdcd;
$black: #000000;
$darkgray: #221f1f;
$lighblue: #54b6e0;
$bgImage1: "../../image/bgimage1.jpeg";
$bgImage2: "../../image/bgimage2.jpg";




//import font
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Encode+Sans&family=Lato:wght@700&family=Playpen+Sans&family=Sacramento&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Encode+Sans&family=Lato:wght@700&family=Sacramento&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Encode+Sans&family=Josefin+Sans&family=Lato:wght@700&family=Playpen+Sans&family=Sacramento&family=Teko&display=swap');
